@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;500;800&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Epilogue", sans-serif;
  background: #ededed;
}

header {
  width: 100%;
  padding: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 auto;
  padding: 0 9.375rem;
}

.logo img {
  vertical-align: top;
}

.btnOp {
  font-weight: 500;
  font-size: 17px;
  border: none;
  background: none;
  margin: 0 1.25rem;
  color: var(--Medium-Gray);
  padding: 0.625rem 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;

  transition: color, border, 0.3s;
}

.btnOp:hover {
  color: var(--Almost-Black);
  border-color: var(--Almost-Black);
}

.btn-reg {
  border: 0.0625rem solid var(--Medium-Gray);
  white-space: nowrap;
}

.options-log-reg {
  flex: 1;
  text-align: right;
}

.navigation {
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  gap: 3.125rem;
  padding-left: 6.25rem;
  color: var(--Medium-Gray);
}

.navigation-list .list-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  padding: 1.25rem 0;
}

.list-submenu {
  position: absolute;
  left: -0.625rem;
  top: 3.4375rem;

  background: #fff;
  padding: 0.625rem 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.list-submenu .list-item-submenu {
  list-style: none;
  font-size: 0.9375rem;
  margin: 1.125rem 0;
  white-space: nowrap;
}

.list-submenu .list-item-submenu:hover {
  color: var(--Almost-Black);
}

.navigation-list .list-item:hover .list-submenu {
  opacity: 1;
  pointer-events: all;
}

.list-submenu .list-item-submenu img {
  vertical-align: top;
  margin-right: 0.9375rem;
}

.navigation-list .list-item:hover a {
  color: var(--Almost-Black);
}

.navigation-list .list-item a svg {
  transition: transform 0.3s;
  margin: 2px;
  white-space: nowrap;
}

.navigation-list .list-item:hover a svg {
  transform: rotate(180deg);
}

.navigation-list .list-item a {
  text-decoration: none;
  color: var(--Medium-Gray);
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.hero-title {
  font-size: 4.375rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
  color: var(--Almost-Black);
  /* white-space: nowrap; */
}

.hero-title span {
  display: block;
  white-space: wrap;
}

.hero-description {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  width: 28.125rem;
  color: var(--Medium-Gray);
  margin-bottom: 2.1875rem;
}

.hero-image {
  width: 100%;
}

.hero-image img {
  width: 28.125rem;
  vertical-align: top;
  /* object-fit: contain; */
}

.image-mobile {
  display: none;
}

.hero-btn {
  background: none;
  border: none;
  color: var(--Almost-White);
  padding: 0.9375rem 1.875rem;
  border-radius: 0.625rem;
  font-weight: bold;
  font-size: 1.0625rem;
  margin-bottom: 3.125rem;
  cursor: pointer;
  border: 1px solid var(--Almost-Black);

  transition: 0.3s ease all;

  position: relative;
  overflow: hidden;
}

.hero-btn::before {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  content: "";
  z-index: -1;
  width: 50px;
  height: 50px;
  scale: 4;
  background: var(--Almost-Black);

  border-radius: 100%;
  transition: scale 0.3s ease;
}

.hero-btn:hover::before {
  scale: 0;
}
.hero-btn:hover {
  color: var(--Almost-Black);
}

.hero-clients {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  width: 100%;
}

.hero-clients img {
  width: 5.625rem;
}

.btn-menu-mobile {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.placeholder-menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.placeholder-menu-mobile.open {
  display: inline-block;
}

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  width: 60%;
  height: 100%;
  background: #fff;
  transform: translateX(300px);
  transition: transform 0.4s ease-in-out;
}

.menu-mobile.open {
  transform: translateX(0);
}

.nav-mobile {
  padding: 20px;
}

.list-mobile li {
  list-style: none;
  font-size: 16px;
  margin: 40px 0;
  color: var(--Medium-Gray);
  cursor: pointer;
}

.list-mobile li svg {
  margin: 2px 10px;
}

.submenu-mobile {
  padding: 0px 20px;
  height: 0px;
  overflow: hidden;

  transition: height 0.3s ease-in-out;
}

.submenu-mobile li {
  margin: 15px 0;
  text-align: left;
}

.submenu-mobile li img {
  margin-right: 10px;
}

.log-reg-mobile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-close {
  padding: 20px;
  text-align: right;
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }

  header {
    justify-content: space-between;
  }

  main {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    padding: 0;
  }

  .hero-info {
    grid-row: 2 / 3;
    align-items: center;
    padding: 20px 0;
  }
  .hero-description {
    text-align: center;
    width: 90vw;
    font-size: 12px;
  }

  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: inline-block;
    width: 100% !important;
  }

  .hero-title {
    font-size: 30px;
    width: 90vw;
    text-align: center;
  }

  .hero-title span {
    display: inline-block;
    white-space: nowrap;
  }

  .hero-clients img {
    width: 60px;
  }

  .navigation {
    display: none;
  }

  .btn-menu-mobile {
    display: inline-block;
  }

  .options-log-reg {
    display: none;
  }

  .btnOp {
    width: 100%;
    margin: 0;
  }

  .menu-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 10px;
  }
}
